.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.info ul {
    list-style-type: none;
}

ul > li + li {
    margin-top: 1em;
}

.display {
    flex: 3;
    background-color: #e0e0e0;
}