html, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #fff;;
}

h2 {
    margin-bottom: 1em;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.info ul {
    list-style-type: none;
}

ul > li + li {
    margin-top: 1em;
}

.display {
    flex: 3;
    background-color: #e0e0e0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 20px;
    padding: 1em;
}